__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.git/
.gitignore
Dockerfile
.dockerignore
*.log
# Aggiungi qui altri file o cartelle che non vuoi includere nell'immagine
# ad esempio, file di configurazione locali specifici per lo sviluppo
# .env # Vedi nota sotto sulla gestione delle variabili d'ambiente